
body {
  background-color: #9d4338;
}

h1,h2,h3 {
  font-family: sans-serif;
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #c8834e;
  background-color: #d4a587;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #c8834e;
  background-color: #e5ca9c;
}

#photo-1 {
  margin: 10px;
  width: 500px;
}
#photo-2 {
  margin: 10px;
  width: 500px;
}
