
body {
  background-color: #50808e;
}

h1,h2,h3 {
  font-family: sans-serif;
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #84B59F;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}

#photo-1 {
  margin: 10px;
  width: 500px;
}
#photo-2 {
  margin: 10px;
  width: 500px;
}
